@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
}

math {
    font-size: 1.2rem;
}

.background {
    background: linear-gradient(#eeeef0, #e5e5ea);
    height: 100vh;
    display: grid;
    padding: 12px 12px 0px;
    column-gap: 12px;
    row-gap: 12px;
    grid-template-rows: auto minmax(0, 1fr);
    grid-template-columns: auto minmax(0, 1fr);
}

.sidebar {
    display: grid;
    padding: 8px;
    row-gap: 8px;
    grid-template-rows: auto minmax(0, 1fr);
}

.floating-pane {
    background: white;
    border-radius: 6px 6px 0px 0px;
    /* padding: 6px; */
    overflow: auto;
    box-shadow: 0px 6px 10px 0px rgba(22, 22, 22, 0.24);
}

.output {
    padding: 12px 8px;
    display: grid;
    columns: (1fr);
    row-gap: 12px;
    white-space: pre;
}

.output .error {
    font-weight: bold;
    color: red;
}

.output .element {
    padding: 8px;
    user-select: none;
    font-family: "Fira Code", monospace;
    background-color: #e5e5ea;
    border-radius: 3px;
    box-shadow: 2px 2px 4px 0px rgba(22, 22, 22, 0.24);
}

button {
    border: none;
    padding: 4px;
    background-color: #e5e5ea;
    border-radius: 3px;
}

.cm-editor {
    width: 100%;
    height: 100%;
    outline: none !important;
}

.cm-editor .cm-content {
    font-family: "Fira Code", monospace;
}

.cm-editor .cm-gutterElement {
    font-family: "Fira Code", monospace;
}
